<%= form_for(@message) do |f| %>
  <% if @message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
      <% @message.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-field">
    <%= f.label :author %>
    <%= f.text_field :author %>
  </div>
  <div class="input-field">
    <%= f.label :receiver %>
    <%= f.text_field :receiver %>
  </div>
  <div class="input-field">
    <%= f.label :description %>
    <%= f.text_area :description, class: "materialize-textarea" %>
  </div>
  <div class="actions">
    <%= f.submit class: "btn" %>
  </div>
<% end %>
