<p id="notice"><%= notice %></p>
<div class="container">
  <div class="row">
    <div class="col s12 center-align">
      <h1>FriendX - List of Groups</h1>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <% @groups.each do |group| %>
        <div class="card hoverable">
          <div class="card-content">
            <h3><%= group.name %></h3>
            <ul class="collection">
              <% group.user.each do |u| %>
                <li class="collection-item">
                  <%= u.name %>
                  <span class="user-email"><%= u.email %><span>
                  <%= link_to edit_user_registration_path, class: "secondary-content", title: "Message" do %>
                    <i class="material-icons">add</i>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div>
          <div class="card-action">
            <%= link_to 'Show', group %>
            <%= link_to 'Edit', edit_group_path(group) %>
            <%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <%= link_to 'New Group', new_group_path, class: "btn" %>

</div>
